@font-face {
  font-family: 'GeistSans';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../../node_modules/geist/dist/fonts/geist-sans/Geist-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'GeistMono';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../../node_modules/geist/dist/fonts/geist-mono/GeistMono-Variable.woff2') format('woff2');
}
